body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto
}

header {
    background-image: url("images/bridge.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1024px;
}

.navbar {
    margin-left: 50px;
}

nav {
    display: inline-flex;
}

nav ul {
    margin-top: 10px;
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #2C3169;
}

h1 {
    text-align: center;
    margin-left: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 64px;
    color: #2C3169;
    padding-top: 0px;
    margin-top: 10px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    color: #23A0A6;
    width: 719px;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #000000;
    width: 707px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    color: #2C3169;
    padding-left: 100px;
    padding-bottom: 70px;
}

.header1 {
    display: inline-block;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;
}

.globe {
    display: flex;
    flex-direction: row;
}

.subh3 {
    display: inline-block;
    margin-left: 30% auto;
}

.heroText {
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 103px;
}

.btnStart {
    display: block;
    width: 280px;
    height: 44px;
    margin: 20px 50px 20px 50px;
    background: #2C3169;
    color: #F99510;
    font-size: 24px;
    border-radius: 30px;
}

.btnLogin {
    display: block;
    width: 280px;
    height: 44px;
    margin: 20px 50px 20px 50px;
    background: #FFC761;
    color: #2C3169;
    font-size: 24px;
    border-radius: 30px;
}

.workGrid {
    display: grid;
    justify-content: space-evenly;
    padding: 30px;
    row-gap: 150px;
    grid-template-columns: 36% auto;
}

.workGrid img {
    padding-right: 50px;
}

.workGrid-item.item-2a {
    margin-left: 100px;
}

.workGrid-item.item-2b {
    margin-left: 100px;
}

.workGrid-item.item-2c {
    margin-left: 100px;
}

.workGrid-item h3 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: #23A0A6;
    text-align: left;
}

.workGrid-item p {
    text-align: left;
}

.learnMore {
    margin-top: 50px;
    width: 280px;
    height: 44px;
    border: 2px solid #2C3169;
    background-color: white;
    color: #428322;
    justify-content: end;
    font-size: 24px;
    border-radius: 30px;
}

.download a {
    margin-top: 50px;
    width: 280px;
    height: 44px;
    /* border: 2px solid #2C3169;
            background-color: white;
            color: #1C6A98;
            font-size: 24px;
            border-radius: 30px; */
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #1C6A98;
}

.download {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/* footer {
            background-image: url("images/footer.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
        }
        
        .middle {
            display: flex;
            flex-direction: row;
        } */

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom a {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: white;
    text-decoration: none;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.middle {
    display: flex;
    flex-direction: row;
}

.logo img {
    padding-top: 200px;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-image: url("images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer ul {
    list-style-type: none;
    align-items: center;
    padding-inline-start: 0px;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: -0.204545px;
    color: #FFFFFF;
}

.icons img {
    padding-right: 15px;
    padding-top: 10px;
}

.li {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu li,
a {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 15px;
}

h6 {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.231818px;
    color: #FFFFFF;
    padding-top: 100px;
    margin: 0px;
}

.bottom {
    color: #FFFFFF;
    background-color: #54BBCA;
    font-family: 'Varela Round', sans-serif;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 400px;
    }
    .name {
        display: flex;
        flex-direction: column;
        padding-right: opx;
        width: 400px;
        justify-content: center;
    }
    .button {
        display: flex;
        flex-direction: column;
    }
    .cards {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    p {
        width: 400px;
        margin: 0px;
    }
    ;
}